@import "tailwindcss";

@theme {
  --color-primary-dark: #0B1C3E;
  --color-primary-light: #6B9AC4;
  --color-accent: #FFFFFF;
  --color-text-main: #333333;
  --color-background-light: #F5F7FA;
  
  --font-sans: 'Montserrat', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background-light);
    color: var(--color-text-main);
    scroll-behavior: smooth;
  }
}