---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import QuienesSomos from "../components/QuienesSomos.astro";
import ProcessSection from "../components/ProcessSection.astro";
import Services from "../components/Services.astro";
import HowWeDoIt from "../components/HowWeDoIt.astro";
import SuccessCases from "../components/SuccessCases.astro";
import Testimonials from "../components/Testimonials.astro";
import Cases from "../components/Cases.astro";
import ClientsBlog from "../components/ClientsBlog.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <main>
    <Hero />
    <ProcessSection />
    <Services />
    <HowWeDoIt />
    <SuccessCases />
    <Testimonials />
    <Cases />
    <ClientsBlog />
    <Contact />
  </main>
</Layout>
