---

---

<header
class="fixed top-6 left-0 right-0 z-50 w-[90%] min-h-[88px] mx-auto
       px-10 py-4
       bg-white/50 backdrop-blur-sm
       border border-white/60
       rounded-[50px]
       shadow-[0_8px_30px_rgba(0,0,0,0.06)]
       flex justify-between items-center"
>
    <div class="logo">
        <img src="src/assets/1-a.svg" alt="Henko" class="h-8" />
    </div>
    <nav>
        <ul class="flex gap-8 text-sm font-medium text-gray-600">
            <li>
                <a href="#" class="text-lg hover:text-primary-dark transition-colors"
                    >Home</a
                >
            </li>
            <li>
                <a href="#" class="text-lg hover:text-primary-dark transition-colors"
                    >Nosotros</a
                >
            </li>
            <li>
                <a href="#" class="text-lg hover:text-primary-dark transition-colors"
                    >Servicios</a
                >
            </li>
            <li>
                <a href="#" class="text-lg hover:text-primary-dark transition-colors"
                    >Casos</a
                >
            </li>
            <li>
                <a href="#" class="text-lg hover:text-primary-dark transition-colors"
                    >Blog</a
                >
            </li>
            <li>
                <a href="#" class="text-lg hover:text-primary-dark transition-colors"
                    >Contacto</a
                >
            </li>
        </ul>
    </nav>
</header>
